@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
}

@theme {
  --breakpoint-xs: 400px;
  --breakpoint-2sm: 577px;
  --breakpoint-mdsm: 768px;
  --breakpoint-md: 988px;

  --breakpoint-mdx: 988px;
  --breakpoint-llg: 1280px;
  --breakpoint-3xl: 1680px;
  --breakpoint-4xl: 1680px;
  --breakpoint-5xl: 2160px;
}

@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}

.scribble-line {
  fill: none;
  stroke: #ff0000;
  stroke-width: 200;
  stroke-dasharray: 20000;
  stroke-dashoffset: 20000;
  animation: scribble 2.5s ease forwards;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.backCursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 900px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 80%);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.50;
  transform: translate(-50%, -50%);
  filter: blur(10px); /* Soft glow */
  z-index: 0; /* Behind everything */
}

@font-face {
  font-family: "light";
  src: url("/fonts/light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("/fonts/bold.ttf");
}

@font-face {
  font-family: "FHT";
  src: url("/fonts/FrontLines.ttf");
}

@font-face {
  font-family: "Superset";
  src: url("/fonts/SupersetRegular.ttf");
}

@font-face {
  font-family: "FrankitonSansL";
  src: url("C:\Users\pc\HussainFarhat\public\fonts\FrankitonSansL.otf");
}

.parallax {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroller {
  display: flex;
  gap: 5rem;
}
