@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

@theme {
  --breakpoint-xs: 400px;
  --breakpoint-2sm: 577px;
  --breakpoint-mdsm: 768px;
  --breakpoint-md: 988px;

  --breakpoint-mdx: 988px;
  --breakpoint-llg: 1280px;
}

@font-face {
  font-family: "light";
  src: url("/fonts/light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("/fonts/bold.ttf");
}

@font-face {
  font-family: "FHT";
  src: url("/fonts/FrontLines.ttf");
}

@font-face {
  font-family: "Superset";
  src: url("/fonts/SupersetRegular.ttf");
}

@font-face {
  font-family: "FrankitonSansL";
  src: url("C:\Users\pc\HussainFarhat\public\fonts\FrankitonSansL.otf");
}

.parallax {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroller {
  display: flex;
  gap: 5rem;
}
