@import "tailwindcss";



html,body{
  width: 100%;
  height: 100%;
    overflow-x: hidden;
}

@font-face {
  font-family: 'light';
  src: url(C:\Users\pc\HussainFarhat\src\assets\light.ttf);
}




@font-face {
  font-family: 'regular';
  src: url(C:\Users\pc\HussainFarhat\src\assets\regular.ttf);
}


@font-face {
  font-family: 'bold';
  src: url(C:\Users\pc\HussainFarhat\src\assets\bold.ttf);
}


@font-face {
  font-family: 'FHT';
  src: url(C:\Users\pc\HussainFarhat\public\FrontLines.ttf);
}


@font-face {
  font-family: 'Superset';
  src: url(C:\Users\pc\HussainFarhat\src\assets\SupersetRegular.ttf);
}